/* card chính */
.calc-card {
  background-color: #fff0f6;
  border: 2px solid #ffd6e7;
  border-radius: 18px;
  padding: 28px 30px;
  box-shadow: 0 8px 20px rgb(239, 153, 167);
  text-align: center;
  width: 320px;
  transition: all 0.3s ease;
}
/* hiệu ứng card chính */
.calc-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgb(216, 165, 173);
}

.title {
  color: #ff6fa9;
  margin-bottom: 20px;
  font-size: 1.6em;
  text-shadow: 0 0 6px #fff;
}
/* Nhóm input và label*/
.input-group {
  margin-bottom: 16px;
  text-align: left;
}
/* label*/
.input-group label {
  display: block;
  color: #ff8cb4;
  font-weight: 500;
  margin-bottom: 5px;
}
/* input*/
.input-group input {
  width: 90%;
  padding: 10px 14px;
  border: 2px solid #ffd1e0;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  background-color: #fff6fa; 
  color: #444;
  box-shadow: inset 0 2px 4px rgba(255, 182, 193, 0.25);
  transition: all 0.25s ease;
}

.input-group input::placeholder {
  color: #b88da6;
}
/* hiệu ứng click vào ô input*/
.input-group input:focus {
  border-color: #ff8abf;
  background-color: #fff; 
  box-shadow: 0 0 8px rgba(255, 140, 191, 0.5);
}
/* nút bấm*/
.btn {
  background: linear-gradient(90deg, #ffa7c4, #ff8db8);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
  width: 100%;
}
/* hiệu ứng rê chuột lên nút bấm*/

.btn:hover {
  background: linear-gradient(90deg, #ff90b2, #ff6fa9);
  transform: scale(1.03);
}
/* Thông báo nhập sai */
.error {
  color: #d63384;
  margin-top: 10px;
  font-weight: 500;
  background: #ffe6ef;
  padding: 8px;
  border-radius: 10px;
}
/*kết quả cuối cùng*/
.result {
  color: #ff69b4;
  font-size: 18px;
  margin-top: 12px;
  font-weight: 600;
  background: #fff8fb;
  padding: 8px;
  border-radius: 10px;
}
